<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<HTML>
<HEAD>
  <TITLE>Erbside</TITLE>

  <LINK rel="shortcut icon" href="img/icon.jpg"/>

  <LINK type="text/css" rel="stylesheet" href="assets/css/reset.css" />
  <LINK type="text/css" rel="stylesheet" href="assets/css/site.css" />

  <SCRIPT language="javascript" type="text/javascript" src="assets/js/jquery.js"></SCRIPT>
  <SCRIPT language="javascript" type="text/javascript" src="assets/js/highlight.js"></SCRIPT>

  <SCRIPT type="text/javascript">
    $(document).ready(function() {
      $('pre').wrapInner('<code></code>');
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad('ruby');
    });
  </SCRIPT>

  <LINK type="text/css" rel="stylesheet" href="assets/css/highlight.css" />
</HEAD>
<BODY>

<!--
<div id="aside">
  <div class="menu">
    <ul>
      <li><a href="#">TOP OF PAGE</a></li>
      <li><a href="#section_description">DESCRIPTION</a></li>
      <li><a href="#section_features">FEATURES</a></li>
      <li><a href="#section_synopsis">SYNOPSIS</a></li>
      <li><a href="#section_how_to_install">HOW TO INSTALL</a></li>
      <li><a href="#section_limitations">LIMITATIONS</a></li>
      <li><a href="#section_copyright_license">COPYRIGHT</a></li>
    </ul>
  </div>
</div>
-->

<div id="nav" class="hued">
  <a href="http://rubyworks.github.com/erbside/demo.html">Demonstrandum</a> &nbsp;
  <a href="http://rubydoc.info/gems/erbside/frames">API Reference</a> &nbsp;
  <a href="http://github.com/rubyworks/erbside">Development</a> &nbsp;
  <a href="http://rubygems.org/gems/erbside">Gem Package</a> &nbsp;
  <a href="http://googlegroups.com/group/rubyworks-mailinglist">Mailing List</a>
</div>

<div id="header">
  <div class="page">
    <!-- <a href=""><img src="img/radio_earth.jpg" align="right" style="margin-right: 20px;"/></a> -->
    <h1>Erbside</h1>
    <h2>&lt;% Embedded Templating %&gt;</h2>
  </div>
</div>

<div id="main" class="hued">
<div class="page">

<div class="section" id="section_description">

<h2>DESCRIPTION</h2>

<p>Erbside is an easy to use project-oriented inline templating utility.
Erbside templates are written in script comments and have access to project
metadata.</p>

</div>


<div class="section" id="section_features"><h2>FEATURES</h2>

<ul>
<li>Easy to use.</li>
<li>Supports almost any script type.</li>
<li>Uses <a href="http://www.ruby-doc.org/stdlib/libdoc/erb/rdoc/">ERB</a> as template format.</li>
<li>Can use <a href="http://rubyworks.github.com/indexer">.index</a> to provide project metadata.</li>
<li>Can use other resources for metadata, such as a project's gemspec.</li>
</ul>

</div>


<div class="section" id="section_synopsis">

<h2>SYNOPSIS</h2>

<h3>Writing Templates</h3>

<p>Erbside is an inline, or inplace, templating system.
Inline templating makes it possible to add dynamic rederings
to otherwise static files without the need for separate template files.
This is acheived by utilizing a file type's support of comments --so this
is only possible with specific file types. Obviously, the target format of
erbside is Ruby (<code>.rb</code>), though other files formats are also
supported.</p>

<p>Inline templating is indicated by the <code>:erb:</code> marker.
For example, in a Ruby script we might add an inline erbside comment as follows:</p>

<pre>
  module YourLibrary
    VERSION = &quot;1.0.0&quot;  #:erb: VERSION = &quot;&lt;%= version %&gt;&quot;
  end
</pre>

<p>As given, an inline template will replace the whole line when rendered (albeit honoring indention).
We can use the <code>^</code> match carrot to indicate that the rendering should only replace
the line from the matching text onward. Notice also in this next example that we can template
comment lines as well.</p>

<pre>
  # Generated on XXXX  #:erb: ^on <%= Time.now %>
</pre>

<p>I have choosen this example because it elucidates a potential gotcha in creating such inline templates.
Notice we match "<code>on</code>". When rendered this line will have a time stamp, eg:

<pre>
  # Generated on Mon Nov 08 13:54:04 -0500 2009  #:erb: ^on <%= Time.now %>
</pre>

<p>The catch here, is that the next time this is renderd it will match the "<code>on</code>" in "<code>Mon</code>"
and not the one intended. That something to watch out for. In this case we might replace "<code>on</code>"
with "<code>@</code>" as a simple fix.</p>

<p>Inline templates can also handle multi-line substitiuations. This is acheived by specifying
the number of lines to absorb in the <code>erb</code> marker.</p>

<pre>
  # :erb+3: <%= Dir['*'].join("\n") %>
  file1
  file2
  file3
</pre>

<p>Notice the <code>+3</code>. This indicates that the next three lines (after any additional comment lines) are to be replaced
by this rendering.</p>

<h3>Running the <code>erbside</code> Command</h3>

<p>The <code>erbside</code> command simply takes the files you with to render as arguents. If a directory is provided
rather than a file, any "erb-able" files within the directory will be included, e.g.</p>

<pre>
  $ erbside **/*.rb
</pre>

<p>For which all #:erb: inline templates in all the .rb files will be filled in.</p>

</div>

<div class="section" id="section_how_to_install">

<h2>HOW TO INSTALL</h2>

<p>To install with RubyGems simply open a console and type:</p>

<pre>
  $ sudo gem install erbside
</pre>

<p>Local installation requires Setup.rb (gem install setup), then download the
tarball package and type:</p>

<pre>
  $ tar -xvzf erbside-1.0.0.tar.gz
  $ cd erbside-1.0.0.tar.gz
  $ sudo setup.rb all
</pre>

<p>Windows users will not need the <code>sudo</code>, but will probably need to be
logged-in as an admistrator of the system.</p>

</div>


<div class="section" id="section_copyright_license"><h2>COPYRIGHT &amp; LICENSE</h2>

<p>Copyright &#169; 2009 Thomas Sawyer</p>

<p>This program is ditributed unser the terms of the BSD-2-Clause license.</p>

<p>See NOTICE.rdoc file for details.</p>

</div>

</div>
</div>

<div id="footer">
<div class="page">
  <div class="advert" style="text-align: center;">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-1126154564663472";
    /* RUBYWORKS 09-10-02 728x90 */
    google_ad_slot = "0788888658";
    google_ad_width = 728;
    google_ad_height = 90;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>

  <div class="copyright">
    Erbside Copyright &copy; 2009 Thomas Sawyer &middot;
    Background Image &copy; <a href="http://www.kenrockwell.com">Ken Rockwell</a>
  </div>
</div>
</div>

<div style="position: absolute; top: 59px; right: 0;">
  <a href="http://github.com/rubyworks/erbside"><img src="assets/img/fork-me.png"/></a>
</div>

<div id="rubyworks" style="position: fixed; bottom: 5px; right: 10px; padding: 0; opacity: 0.3;">
  <a href="http://rubyworks.github.com">
    <img src="http://rubyworks.github.com/assets/images/seal.png" height="150px" />
  </a>
</div>

</BODY>
</HTML>

