/* GENERAL */

a { color: #0C0; }
h1 { font-size: 64px; margin: 20px 0; color: #0C0; }
h2 { margin-top: 30px; color: #0C0; }
h3 { color: #0C0; font-weight: bold; }

pre { background: #dfd; -moz-border-radius: 10px; color: #FF5599; font-weight: bold; padding: 20px 10px 20px 10px; }

/* SCHEMES */

.page { width: 760px; margin: 0 auto; padding: 0; }

.hued {
  background: #FFFFFF;
  color: #353;
}
.heud a    { color: #9955FF; }
.heud code { color: #555; }
.hued h1   { color: #000; }
.hued h2   { color: #000; }

.expressive {
  color: white;
}

/* SPECIAL */

#nav { margin: 0 auto; width: 760px; padding: 20px 60px; text-align: left; color: #0C0; }
#nav a { font-size: 100%; font-variant: small-caps; }

#header { height: 240px; padding: 5px 0; border-top: 2px solid yellow; border-bottom: 2px solid yellow; text-align: left;
          background: url(../images/curb.jpg) no-repeat right #7f7a80; }

#header h1 { font-size: 86px; font-weight: bold; color: #FFF; font-family: courier, monspace; padding: 36px 0 0 0px; margin: 0; }
#header h2 { font-size: 20px; font-weight: bold; color: #FFF; font-family: courier, monspace; padding: 0 0 0 6px; margin: 0; }

#main { border-bottom: 2px solid yellow; padding: 0 0 30px 0; background: transparent; }
#main p { font-family: "Lucida Console"; }
#main li { }

#footer { padding: 40px; text-align: center; background: #7f7a80; }
#footer .copyright { color: #111; padding-top: 40px; font-weight: bold; line-height: 150%; padding: 10px 0; font-size: 90% }
#footer .copyright a { color: #904; };

#aside { position: fixed; padding: 20px; left: 0; top: 60px; width: 210px;
  border-left: 0px solid; border-bottom: 0px solid;
  border-color: #0C0; background: url(../images/fade.png) transparent;
  min-height: 210px;
}

#aside a { color: #000; font-size: 0.9em; }
